<div class='row'>


    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Warning</strong> Ensure you are aware of the risks of sending API credentials over a non secure (SSL) connection.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


</div>


<div class='row'>

    <%= form_for :user, :url =>  sessions_path do |f| %>

      <%= f.label :api_key , "API Key" %> 
      <%= f.text_field :api_key %> <br>

      <%= f.label :api_secret, "API Secret" %> 
      <%= f.text_field :api_secret %><br>

      <%= f.label :return_json, "return JSON from API" %> 
      <%= f.check_box :return_json %><br>

      <%= f.submit "Submit", class: 'btn btn-primary' %>

    <% end %>

</div>